<div>
    <h3>Horizontal</h3>
    <mat-horizontal-stepper linear>
        <mat-step label="One">
            <p>This is Step One</p>
            <button mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step label="Two" completed=false>
            <p>This is Step Two</p>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step label="Three" completed=false>
            <p>This is Step Three</p>
            <button mat-button matStepperPrevious>Back</button>
        </mat-step>
    </mat-horizontal-stepper>
    <h3>Vertical</h3>
    <mat-vertical-stepper linear>
        <mat-step label="One">
            <p>This is Step One</p>
            <button mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step label="Two" completed=false>
            <p>This is Step Two</p>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
        </mat-step>
        <mat-step label="Three" completed=false>
            <p>This is Step Three</p>
            <button mat-button matStepperPrevious>Back</button>
        </mat-step>
    </mat-vertical-stepper>
    <p>
        <a href="https://material.angular.io/components/stepper/overview" target="_blank">https://material.angular.io/components/stepper/overview</a>
    </p>
</div>