<div>
    <h3>Dense</h3>
    <mat-list dense>
        <mat-list-item>Item One</mat-list-item>
        <mat-list-item>Item Two</mat-list-item>
        <mat-list-item>Item Three</mat-list-item>
    </mat-list>
    <h3>Nav List</h3>
    <mat-nav-list>
        <a mat-list-item href="#">Item One</a>
        <a mat-list-item href="#">Item Two</a>
        <a mat-list-item href="#">Item Three</a>
    </mat-nav-list>
    <h3>Icon Bullets</h3>
    <mat-list>
        <mat-list-item>
            <mat-icon matListIcon>home</mat-icon>
            <h3 matLine>Home</h3>
            <p matLine> Stuff</p>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-icon matListIcon>add_shopping_cart</mat-icon>
            <h3 matLine>Something Else</h3>
            <p matLine> Stuff</p>
        </mat-list-item>
    </mat-list>
</div>