<div>
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput>
    </mat-form-field>
    <br/>
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput>
    </mat-form-field>
    <br/>
    <mat-form-field floatLabel="always">
        <mat-label>Name</mat-label>
        <input matInput required>
        <mat-hint align="end">This is a hint</mat-hint>
    </mat-form-field>
    <p>
        <a href="https://material.angular.io/components/input/overview" target="_blank">https://material.angular.io/components/input/overview</a>
    </p>
</div>
