<h1>Buttons!</h1>
<div>
    <button mat-raised-button>mat-raised-button</button>
    <button mat-flat-button>mat-flat-button</button>
    <button mat-stroked-button>mat-stroked-button</button>
</div>

<div>
    <button mat-icon-button>mat-icon-button</button>
    <button mat-fab>mat-fab</button>
    <button mat-mini-fab>mat-mini-fab</button>
</div>

<div>
    <button color="primary" mat-raised-button>Primary</button>
    <button color="accent" mat-raised-button>Accent</button>
    <button color="warn" disableRipple mat-raised-button>Warn</button>
</div>
